<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
      </head>
    
      <body>
        <div style="text-align: center;">
          <form method="POST">
            {% csrf_token %}
            <h1 style="font-family: fantasy;">User Login</h1>
            <br>
            <input type="text" placeholder="Enter Your Username" name = "username">
            <br>
            <br>
            <input type="password" placeholder="Enter Your Password" name = "password">
            <br>
            <br>
            <input type="submit" value="Login">
          </form>
        </div>
        
      </body>
</html>